
@{
    ViewBag.Title = "Hakkımızda";
}

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
    }

    #icerik {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        height: 550px;
        margin: 50px auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .left-box {
        width: 200%;
        padding: 10px;
        box-sizing: border-box;
        border-right: 1px solid #ccc;
    }

    .right-box {
        width: 80%;
        padding: 50px 80px;
        box-sizing: border-box;
        margin-left: 200px;
    }

    img {
        width: 500px;
        height: 520px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    h1 {
        color: #333;
    }

    p {
        color: #555;
        line-height: 1.6;
    }
</style>



<div class="container" id="icerik">
    <div class="row">
        <div class="col-md-3">
            <div class="left-box">
                <img src="../tema/img/takisepetim.jpeg" alt="Antika Dükkanı">
            </div>
        </div>
        <div class="col-md-9">

            <div class="right-box">
                <h1>Hakkımızda</h1>
                <p>
                    Hoş geldiniz! Takı Sepetim olarak, şıklık ve zarafetinizi tamamlayacak benzersiz takı tasarımları sunan bir aile işletmesiyiz. Müşterilerimize özel ve kaliteli takılarla günlük yaşamlarında ve özel anlarında eşsiz bir dokunuş katmayı amaçlıyoruz.
                </p>
                <h2>Misyonumuz ve Vizyonumuz</h2>
                <p>
                    Misyonumuz, müşterilerimize yüksek kaliteli takılar sunmak ve onları en özel anlarında yanlarında hissettirmektir. Sadece bir takı parçası değil, anılarınıza değer katan özel bir dokunuş sunmayı hedefliyoruz.
                </p>
                <p>
                    Vizyonumuz ise sadece müşteri memnuniyetini değil, aynı zamanda tasarımlarımızın estetik değerini ön planda tutarak takı dünyasına yaratıcı bir katkı sağlamaktır. Sürekli gelişen ve yeniliklere açık bir takı koleksiyonu sunarak müşterilerimizin beklentilerini aşmayı hedefliyoruz.
                </p>
            </div>

        </div>


    </div>

</div>

